/* You can add global styles to this file, and also import other style files */
html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~src/theme/variables";
@import "~src/theme/animations";

.btn-info {
  @include button-variant(
    $main-blue,
    darken($main-blue, 7.5%),
    darken($main-blue, 10%),
    lighten($main-blue, 5%),
    lighten($main-blue, 10%),
    darken($main-blue, 30%)
  );
}

.btn-outline-info {
  @include button-outline-variant(
    $main-blue,
    #222222,
    lighten($main-blue, 5%),
    $main-blue
  );
  &:hover {
    color: #ffffff;
  }
  &:active {
    background: $main-blue;
    background-image: linear-gradient(
      to right,
      $main-blue 0%,
      lighten($main-blue, 10%),
      $main-blue 40%,
      $main-blue 100%
    );
    background-repeat: no-repeat;
    background-size: 800px 104px;
    display: inline-block;
    position: relative;

    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
  }
}
