@import "~src/theme/variables";
@import "~src/theme/animations";

:host {
  .gameover.modal-body {
    padding: 0;
    color: $main-blue;
    .row {
      margin: 1em 0;
      h1 {
        font-weight: 900;
      }
    }
  }
}
